@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body{
    background-color: rgba(0, 0, 0, 0.356);
}
.container{
    position: absolute;
    top: 20%;
    transform: translateY(-20%); 
    width: 100%;
}
.main-div{
    width: 40%;
    min-height: 20vh;
    border-radius: 8px;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
     position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.151);
}
.pay-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.pay-img img{
    width: 50%;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-caret-right{
    font-size: 2rem;
    color: white;
}
.box{
    width: 70px;
    height: 45px;
    background-color:#e0deda;
    text-align: end;
    margin: 0 10px;
    border-radius: 5px;
}
.valid{
    text-align: center;
    color: grey;
}
.valid strong{
    font-size: 1.4rem;
    margin-top: 20px;
}
.card-no{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-no p{
    margin: 0 20px;
    color: grey;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 4px;
}
.name-holder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}
.name-holder > h5{
    font-size: 1.2rem;
}
.name-holder > img{
   width: 20%;
}